<footer>
  <div class="container">
    <div class="row">
      <div class="span4">
         <!-- Widget 1 -->
         <div class="widget">
            <h4>关于我们</h4>
            <p>河南万通科技有限公司是集高清网络摄像机，数字NVR 的研发、生产及销售于一体的高科技企业。</p>
             <ul>
               <li><%= link_to "公司简介", about_url %></li>
               <li><%= link_to "联系我们", contact_url %></li>
             </ul>
         </div>
      </div>
      <div class="span4">
         <!-- widget 2 -->
         <div class="widget">
            <h4>最新产品</h4>
               <ul>
                 <%= render "layouts/latest_products", products: @latest_products %>
               </ul>
         </div>
      </div>
      <div class="span4">
         <!-- Widget 3 -->
         <div class="widget">
            <h4>网站地图</h4>
            <ul>
               <li><%= link_to "产品中心", products_url %></li>
               <li><%= link_to "工程案例", projects_url %></li>
               <li><%= link_to "服务支持", service_url %></li>
               <li><%= link_to "问题解答", questions_url %></li>
            </ul>
         </div>
      </div>
      
      <div class="span12"><hr /><p class="copy">
      <!-- Copyright information. You can remove my site link. -->
               Copyright &copy; <%= link_to "HeNanWanTong.com", root_path %> | Developed by <a href="http://www.diguage.com">"地瓜哥"博客网</a></p></div>
    </div>
  </div>
</footer>
<script type="text/javascript">
  $(function() {
  
  	$('#da-slider').cslider({
  		autoplay	: true,
  		interval : 6000
  	});
  
  });
</script>	
