<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>河南万通科技有限公司</title>
  
  <meta name="description" content="河南万通科技有限公司是集高清网络摄像机，数字NVR 的研发、生产及销售于一体的高科技企业。">
  <meta name="keywords" content="河南万通科技有限公司,摄像机,监控,网络摄像机">

  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/navbar' %>

<%= yield %>

    <%= render 'layouts/footer' %>
  </body>
</html>
